<table><tr><td style="width: 700px;">

<form class="form" method="post" id="con_form" action="">
    
    {% csrf_token %}
    <input type="hidden" name="form" value="message">
    <div class="polozky left">
        <p>*<input type="text" name="message-name" value="{{message_form.name.value}}" placeholder="Jméno a příjemní" class="pole"></p>
        <p>*<input type="text" name="message-email" value="{{message_form.email.value}}" placeholder="E-mail" class="pole"></p>
        <p>&nbsp;&nbsp;<input type="text"  value="{{message_form.phone.value}}" name="message-phone" placeholder="Tel. číslo" class="pole" style="margin-left:3px"></p>
        <p>&nbsp;&nbsp;<input type="text" name="message-subject"  value="{{message_form.subject.value}}" placeholder="Předmět dotazu" class="pole" style="margin-left:3px"></p>
        <p>* povinný údaj</p>
    </div>
    <div class="left druhotny">
        <p style="margin-left: 12px;">*</p><textarea name="message-text" class="textarea" placeholder="Text">{{message_form.text.value}}</textarea>
        <p><a type="submit" id="con_sub" class="tlacitko right">Odeslat</a></p>
    </div>
</form>

        

</td></tr>
<tr><td>
    {% if message_form_done %}
        <p class="form-error">Vaše zpráva byla úspěšne odeslána.</p>
    {%endif%}


    {% if message_form.errors.email %}
            <p class="form-error">Zadejte správný formát vašeho emailu!</p>
    {% endif %}
    {% if message_form.errors.name or message_form.errors.text  %}
        <p class="form-error">Zadejte prosím všechny povinné položky!</p>
    {% endif %}


</td></tr></table>


