<a href="http://www.snowbitch.cz/fallen/" target="_blank"><img src="/static/static/bmxacademy/images/fallen_black.png" alt="fallen_logo" class="gen_partner"></a>
<center>
<div class="odsazena_loga">
<a href="http://www.snowbitch.cz/" target="_blank"><img src="/static/static/bmxacademy/images/snowbitch.png" alt="snowbitch_logo" class="partner"></a>
<a href="http://sport-plzen.cz/" target="_blank"><img src="/static/static/bmxacademy/images/koloseum.jpg" alt="koloseum_logo" class="partner"></a>

<a href="http://www.firmy-plzen.cz/f410219-vaclav-majer-reznictvi-tremosna-prodej-uzenin/" target="_blank"><img src="/static/static/bmxacademy/images/majer.png" alt="majer_logo" class="partner"></a>
<a href="http://www.frbs.cz" target="_blank"><img src="/static/static/bmxacademy/images/frbs.png" alt="frbs_logo" class="partner"  style="margin-left: -30px;"></a>
</div><!-- odsazena_loga -->

<div class="odsazena_loga">
  <a href="http://www.dirtbiker.cz/" target="_blank"><img src="/static/static/bmxacademy/images/dirtbiker.png" alt="dirtbiker_logo" class="partner"></a>
  <a href="http://www.bmx-street.com" target="_blank"><img src="/static/static/bmxacademy/images/bmxsrt.png" alt="bmxstreet_logo" class="partner"></a>
    <a href="http://www.bravo.cz/" target="_blank"><img src="/static/static/bmxacademy/images/bravo.png" alt="bravo_logo" class="partner" style="margin-top: 25px;margin-bottom:30px;"></a>
  <a href="http://www.tbb-bike.cz/" target="_blank"><img src="/static/static/bmxacademy/images/tbb.png" alt="tbb_logo" class="partner" style="margin-left: -30px;"></a>
  <a href="http://www.highfive.sk/" target="_blank"><img src="/static/static/bmxacademy/images/hf.png" alt="hf_logo" class="partner"></a>
</div>
</center>