<!-- menu -->
<table><tr><td>
<form class="form" method="post" id="reg_form" action="">
    <input type="hidden" name="form" value="registration">
    {% csrf_token %}
    <div class="polozky left">
        <p><input type="text" name="registration-name" value="{{registration_form.name.value}}" placeholder="Jméno a příjmení" class="pole"></p>
        <p><input type="text"  value="{{registration_form.street.value}}"   name="registration-street" placeholder="Ulice, č.p." class="pole"></p>
        <p><input type="text" name="registration-city"  value="{{registration_form.city.value}}" placeholder="Město, PSČ" class="pole"></p>
        <p><input type="text" value="{{registration_form.birth_number.value}}"  name="registration-birth_number" placeholder="Rodné číslo" class="pole"></p>
        <p><input  value="{{registration_form.phone.value}}"  type="text" name="registration-phone" placeholder="Tel. číslo" class="pole"></p>
        <p>&nbsp;&nbsp;Všechny údaje jsou povinné.</p>
    </div>
    <!-- lefter -->
    <div class="druha left">
        <p><input type="text" value="{{registration_form.email.value}}"  name="registration-email" placeholder="Email" class="pole"></p>
        <p><select class="selecter" value="{{registration_form.tshirt_size.value}}"  name="registration-tshirt_size">
                <option value="" {% if registration_form.tshirt_size.value == "" %}selected="selected"{% endif %}>Velikost trika</option>
                <option value="xs" {% if registration_form.tshirt_size.value == "xs" %}selected="selected"{% endif %}>XS</option>
                <option value="s" {% if registration_form.tshirt_size.value == "s" %}selected="selected"{% endif %}>S</option>
                <option value="m" {% if registration_form.tshirt_size.value == "m" %}selected="selected"{% endif %}>M</option>
                <option value="l" {% if registration_form.tshirt_size.value == "l" %}selected="selected"{% endif %}>L</option>
                <option value="xl" {% if registration_form.tshirt_size.value == "xl" %}selected="selected"{% endif %}>XL</option>
            </select>
        <p><select class="selecter"  value="{{registration_form.cap_size.value}}"  name="registration-cap_size">
                <option value="" {% if registration_form.cap_size.value == "" %}selected="selected"{% endif %}>Velikost čepice</option>
                <option {% if registration_form.cap_size.value == "1" %}selected="selected"{% endif %} value="1">6 7/8 (obvod hlavy - 54,9cm)</option>
                <option {% if registration_form.cap_size.value == "2" %}selected="selected"{% endif %} value="2">7 (obvod hlavy - 55,8cm)</option>
                <option {% if registration_form.cap_size.value == "3" %}selected="selected"{% endif %} value="3">7 1/8 (obvod hlavy - 56,8cm)</option>
                <option {% if registration_form.cap_size.value == "4" %}selected="selected"{% endif %} value="4">7 1/4 (obvod hlavy - 57,7cm)</option>
                <option {% if registration_form.cap_size.value == "5" %}selected="selected"{% endif %} value="5">7 3/8 (obvod hlavy - 58,7cm)</option>
                <option {% if registration_form.cap_size.value == "6" %}selected="selected"{% endif %} value="6">7 1/2 (obvod hlavy - 59,6cm)</option>
                <option {% if registration_form.cap_size.value == "7" %}selected="selected"{% endif %} value="7">7 5/8 (obvod hlavy - 60,6cm)</option>
                <option {% if registration_form.cap_size.value == "8" %}selected="selected"{% endif %} value="8">7 3/4 (obvod hlavy - 61,5cm)</option>
                <option {% if registration_form.cap_size.value == "9" %}selected="selected"{% endif %} value="9">7 7/8 (obvod hlavy - 62,5cm)</option>
                <option {% if registration_form.cap_size.value == "10" %}selected="selected"{% endif %} value="10">8 (obvod hlavy - 63,5cm)</option>
            </select>
        <p><select class="selecter"  name="registration-camp_variant">
                <option value="" {% if registration_form.camp_variant.value == "" %}selected="selected"{% endif %}>Varianta campu</option>
                <option value="8denni" {% if registration_form.camp_variant.value == "8denni" %}selected="selected"{% endif %}>8. denní - 6 900 CZK</option>
                <option value="6denni" {% if registration_form.camp_variant.value == "6denni" %}selected="selected"{% endif %}>6. denní - 5 900 CZK</option>
            </select>
            <p><select class="selecter" value="{{registration_form.transfer.value}}"  name="registration-transfer">
                <option value="" selected="selected">Doprava</option>
                <option {% if registration_form.transfer.value == "vlastni" %}selected="selected"{% endif %} value="vlastni">vlastní</option>
                <option {% if registration_form.transfer.value == "plzen" %}selected="selected"{% endif %} value="plzen">BMX Academy z Plzně</option>
                <option {% if registration_form.transfer.value == "praha" %}selected="selected"{% endif %} value="praha">BMX Academy z Prahy</option>
                <option {% if registration_form.transfer.value == "jihlava" %}selected="selected"{% endif %} value="jihlava">BMX Academy z Jihlavy</option>
                <option {% if registration_form.transfer.value == "brno" %}selected="selected"{% endif %} value="brno">BMX Academy z Brna</option>
                <option {% if registration_form.transfer.value == "bratislava" %}selected="selected"{% endif %} value="Bratislava">BMX Academy z Bratislavy</option>
            </select>
        <p>&nbsp;&nbsp;<input type="checkbox" name="registration-accept" {% if registration_form.accept.value == "on" %}checked="checked"{%endif%} value="on"> Souhlasím s <a href="/static/static/bmxacademy/pravidla2013.pdf" target="blank">pravidly akce</a>.</p>
        <p><a id="reg_sub" class="tlacitko right tlacitko_reg">Registrovat</a></p>
      
        
    </div>
</form>
    <!-- lefter -->

</td></tr>
<tr><td>
<p>Neobdrželi jste potvrzující e-mail, máte potíže s registraci volejte prosím  +420 608 844 878.</p>
<!-- <div class="beran" style="margin-top: 40px;">
       <img src="/static/static/bmxacademy/images/signature.png" alt="Michael Beran" class="sig">
    <img src="/static/static/bmxacademy/images/mberan.jpg" alt="Michael Beran" class="beran_foto">
    <p><strong>Michael Beran</strong> <br>
doporučuje BMX Academy</p>
         </div> -->
    {% if registration_form.errors.name or registration_form.errors.name or registration_form.errors.address or registration_form.errors.city or registration_form.errors.birth_number or registration_form.errors.phone or registration_form.errors.email or registration_form.errors.tshirt_size or registration_form.errors.cap_size or registration_form.errors.camp_variant or registration_form.errors.transfer %}
        {%if registration_form.errors.email.0 == "Položka Participant s touto hodnotou v poli Email již existuje."%}
            <p class="form-error">Registrace pod tímto emailem již existuje.</p>
        {% elif registration_form.errors.email.0 == "Vložte platnou e-mailovou adresu." %}
            <p class="form-error">Zadejte správný formát vašeho emailu!</p>
        {% else %}
        <p class="form-error">Zadejte prosím všechny povinné položky!</p>
        {% endif %}
    {% endif %}
    {% if registration_form.errors.accept %}
        <p class="form-error">Musíte souhlasit s podmínkami!</p>
    {% endif %}

{% if registration_form_done %}
    <p class="form-error">
    Registrace proběhla úspěšne.
    <br>V emailu máte podrobnější informace.</p>
{% endif %}

</td></tr></table>